<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>MVC Sample</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>

<body>
    
    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a href="@Url.Action("Hot", "Article")">熱門文章</a></li>
                <li><a href="@Url.Action("List", "Article")">文章列表</a></li>
                <li><a href="#">RSS</a></li>
            </ul>
            <h3 class="text-muted">MVC 教學</h3>
        </div>
    
        @RenderSection("jumbotron", required: false)
        @RenderSection("nav", required: false)
        @RenderBody()

        

        <div>
            <p>&copy; HY-tech 2014 (<a href="http://cppoi.blogspot.tw/">OI</a>) </p>
        </div>

    </div> <!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>
