@using MVC_Backend.Helpers
@model MVC_Backend.ViewModels.QueryOption<MVC_Backend.Models.Article>
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Article - Index</h2>
    <div class="paging">
        <p>
            @using (Html.BeginForm("Index", "Articles", FormMethod.Get, new { @class = "form-inline form-search" }))
            {
                @Html.TextBoxFor(x => x.Keyword, new { @class = "form-control" })
                @Html.HiddenFor(x => x.Page)
                @Html.HiddenFor(x => x.PageSize)
                @Html.HiddenFor(x => x.Column)
                @Html.HiddenFor(x => x.Order)

                <input type="submit" class="btn btn-primary" value="查詢" />

                @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
            }
            <table class="table">
                <tr>@Html.SortableFor(x => x.Category.Name, "th")
                @Html.SortableFor(x => x.Subject, "th")
                @Html.SortableFor(x => x.Summary, "th")
                @Html.SortableFor(x => x.IsPublish, "th")
                @Html.SortableFor(x => x.PublishDate, "th")
                @Html.SortableFor(x => x.ViewCount, "th")
                <th>
                    @Html.DisplayNameFor(x => x.Result.First().CreateUser)
                    |
                    @Html.SortableFor(x => x.CreateDate, "span")
                </th>
                <th>
                    @Html.DisplayNameFor(x => x.Result.First().UpdateUser)
                    |
                    @Html.SortableFor(x => x.UpdateDate, "span")
                </th>
                <th></th>
                </tr>

                @foreach (var item in Model.Result)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Summary)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsPublish)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PublishDate, "PromptDateTime")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ViewCount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateUser, "SystemUserName")
                            <br />
                            @Html.DisplayFor(modelItem => item.CreateDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpdateUser, "SystemUserName")
                            <br />
                            @Html.DisplayFor(modelItem => item.UpdateDate)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                        </td>
                    </tr>
                }

            </table>
            @Html.PagedListPager(Model.Result, page => Url.Action("Index", new { page }))
    </div>
</body>
</html>
